<div class="agenda-container">
 
  <header class="topo-vibrante">
    <div class="logo-texto">
      <span class="titulo-principal">Contatos</span>
      <span class="subtitulo">Sua lista de contatos</span>
    </div>
 
    <div class="flores-container">
   <a href="https://www.glitter-graphics.com"><img src="http://dl5.glitter-graphics.net/pub/725/725325v80m0346dj.gif" width=96 height=91 border=0></a>
    </div>
   
    <div class="curva-rosa"></div>
  </header>

<div class="container">

  <div *ngIf="loading" class="status do loading">Carregando...</div>
  <div *ngIf="erro" class="status do erro">Erro ao carregar usuários.</div>

  <div class="cards">

    <div class="card" *ngFor="let user of usuarios">
      
<h3>
    <ng-content>
      <h2>{{ user.name }}</h2>
    </ng-content>
</h3>

      <p><strong>Email:</strong> {{ user.email }}</p>
  
      <p><strong>Telefone</strong> {{ user.phone }}</p>

      <a class="button" [routerLink]="['/user-detail', user.id]">
        Ver detalhes 
      </a>
    </div>
    
  </div>
</div>
