.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

.card {
  background: #f3f3f3;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 30px; /* ← aqui separa os cards */
}

.card:hover {
  transform: translateY(-5px); 
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #3062ec;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}
