  <header class="cabecalho1">
  <br>
    <h1 class="titulo">Lista  <span>dos </span> usuários</h1>

</header>

<div class="container">

  <h1>Contatos</h1>

  <div *ngIf="loading" class="status do loading">Carregando...</div>
  <div *ngIf="erro" class="status do erro">Erro ao carregar usuários.</div>

  <div class="cards">

    <div class="card" *ngFor="let user of usuarios">
      
<h3>
    <ng-content>
      <h2>{{ user.name }}</h2>
    </ng-content>
</h3>

      <p><strong>Email:</strong> {{ user.email }}</p>
  
      <p><strong>Telefone</strong> {{ user.phone }}</p>

      <a class="button" [routerLink]="['/user-detail', user.id]">
        Ver detalhes 
      </a>
    </div>
    
  </div>
</div>
