<div class="agenda-container">
 
  <header class="topo-vibrante">
    <div class="logo-texto">
      <span class="titulo-principal">Contatos</span>
      <span class="subtitulo">Sua lista de contatos</span>
    </div>
 
    <div class="flores-container">
   <a href="https://www.glitter-graphics.com"><img src="http://dl5.glitter-graphics.net/pub/725/725325v80m0346dj.gif" width=96 height=91 border=0></a>
    </div>
   
    <div class="curva-rosa"></div>
  </header>
  
<div class="container">

<div *ngIf="loading">Carregando...</div>

<div *ngIf="!loading && idInvalido">ID inválido</div>

<div *ngIf="!loading && naoEncontrado">Usuário não encontrado</div>

<div *ngIf="!loading && usuario">
<h3>
    <ng-content>
    </ng-content>
</h3>
<h3>
    <ng-content>
      <h1>{{ usuario.name }}</h1>
    </ng-content>
</h3>

    <p><strong>Email1:</strong> {{ usuario.email }}</p>
    <p><strong>Telefone:</strong> {{ usuario.phone }}</p>
    <p><strong>Website:</strong> {{ usuario.website }}</p>
    <p><strong>Cidade:</strong> {{ usuario.address.city }}</p>
    <p><strong>Empresa:</strong> {{ usuario.company.name }}</p>

    <a routerLink="/user-list" class="btn-voltar">
       Voltar
    </a>

  </div>
</div>